@tailwind base;
/* @tailwind components; */
@tailwind utilities;
/* @tailwind screens; */

html, body {
  min-height: 100%;
}
.history-table {
  display: block;
  height: 400px;
  overflow-y: scroll;
}
